
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&family=Sorts+Mill+Goudy:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Press+Start+2P&family=Roboto+Condensed&display=swap');



/*Colors*/
$backgoundLight: #bfaa87;
$backgroundDark:#000000;
$lightBrown: #c7bca7;
$red: #b70000;
$redTitulo:#ec4f4f;
$redLight:#e05227;
$redClaro:#ff8787;
$redFuscia:#ff0c69;
$blue:#0e9094;
$darkBlue:#0087e9;
$blueLight:#59c2ef;
$green:#33e6ac;
$lightGreen:#22c1a087;
$greenTitulo:#65ada5;
$darkGreen:#00c0a9;
$darkGreenDark:#04685c;
$brownLetters:#472C33;
$violet:#af639e;
$violetaTitulo:#cf8bc1;
$violetaFuscia:#ff58da;
$violetaMedio:#975389;
$darkViolet:#6d1e5c;
$dorado:#CB9200;
$doradoOscuro:#8a4e00;
$doradoClaro:#FFF2BD;
$coloresPrueba:#293462;

/*Fonts*/
$titleFont:'Codystar', cursive;
$fontCuadrada:'Press Start 2P', cursive;
$fontGeneric:'Roboto Condensed', sans-serif;