@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&family=Inter:wght@300;400;500;600;700&family=Jaldi:wght@400;700&family=Josefin+Sans:wght@300;400;500;600&family=Karma:wght@300;400;500;600;700&display=swap');


/*Colors Light*/
$backgoundLight: #ffffff; 
$textViolet:#79155B;


/*Colors Dark*/
$backgroundDark:#000000;
$backgroundDarkViolet:#79155B;
$white:#ffffff;
$red: #F6635C;
$redClaro:#FFBA86;
$violet:#C23373;

/*Components*/ 
$switch:#C886B5;
/*Fonts*/
$titleFont:'Karma', serif;
$fontText:'Josefin Sans', sans-serif;
$fontGeneric:'Jaldi', sans-serif;
$fontButton:'Inter', sans-serif;