
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&family=Sorts+Mill+Goudy:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Press+Start+2P&family=Roboto+Condensed&display=swap');



/*Colors Light*/
$backgoundLight: #ffffff;

/*Colors Dark*/
$backgroundDark:#79155B;
$red: #F6635C;
$redClaro:#FFBA86;
$violet:#C23373;


/*Fonts*/
$titleFont:'Codystar', cursive;
$fontCuadrada:'Press Start 2P', cursive;
$fontGeneric:'Roboto Condensed', sans-serif;