
#Footer{
    width: 100%;
    display: flex;
    padding: 20px;
    background-color: $backgroundDarkViolet;
}
.footer-container {
    width: 100%;
    display: flex;
    color:$redClaro; //Cambiar
    .div-lista{
        flex:1;
        display: flex;
        align-items: center;
        justify-content: center;
        ul{
            display: flex;
            flex-direction: column;
            a{
                font-size: 2rem;
                font-family: $fontGeneric;
                text-decoration:none ;
            }
        }
        
    }
    .div-contact{
      background-color: $backgroundDarkViolet;
        flex: 1;
        .contact-text{
            color:$redClaro; //Cambiar
            font-family: $fontGeneric;
            font-weight: 500;
            font-size: 2rem;
            line-height: 30px;
            letter-spacing: 6px;
        }
    }
    .div-redes{
        flex:1;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 40px;
    }
  }
  #light .footer, #light .footer-container, #light .div-contact {
    background-color: $switch;
  }
  

  /* Location, Phone, Email Section */
  .contactList {
    list-style-type: none;
     width: 100%;
     .listItem {
        line-height: 20px;
        color:$white;
        font-size: 2rem;
        display:flex ;
        align-items: center;
      }
  }


  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#dark .contactList{
  background-color: $backgroundDarkViolet;
}
#light .contactList{
  background-color: $switch;
}
  #dark .social-media-list{
    background-color: $backgroundDarkViolet;
    a{
      color:$white; //Cambiar
    }
    text-shadow: 1px 1px 4px $redClaro;
  }
  .social-media-list a {
    color: #fef7ff;
  }
  
  #light .social-media-list{
    background-color: $switch;
    a{
      color:$white; //Cambiar
    }
    text-shadow: 1px 1px 4px $redClaro;
  }
  .social-media-list a {
    color: #fef7ff;
  }
  
  .social-media-list a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #12fff3;
    background-color:  #ff00ff79;
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }

  
  .social-media-list a:hover {
    background-color: $redClaro; 
  }
  #dark .social-media-list a:hover{
    background-color: $redClaro;
  }
  .social-media-list a:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list :hover a {
    color: #8b00ad;
  }
  .contact-icon{
    font-size: 1.3rem;
  }
  
  hr {
    border-color: rgb(51 230 172 / 60%);
    width: 100%;
  }
  
  @media screen and (max-width: 850px) {
    .contactWrapper {
      display: flex;
      flex-direction: column;
    }
    .contactWrapper .formContact {
      margin: 0 auto;
    }  
  
    .contactWrapper .formControl,input, textarea {
      margin: 3%;
      width: 280px;
    }
    .dataContactContainer {
      margin-top: 60px;
      max-width: 350px;
    }    
    .dataContactContainer .contact-text{
      font-size: 15px;
    }
    .social-media-list a {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list a:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  @media(max-width:700px){
       .sectionHeader{
        font-size: 1.5rem;
       }
  }
  
  @media screen and (max-width: 569px) {
    .contactWrapper{
      display: flex;
      flex-direction: column;
      width: 100%;
    }

   .contactWrapper .formControl,input, textarea {
      margin: 3%;
      width: 250px;
    }
   
    
    .dataContactContainer {
      width: 100%;
      margin-top: 60px;
      max-width: 250px;
    }  
    .contactList{
      display:none;
    }
    .social-media-list {
      left: 0;
    }
    .social-media-list a {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list a:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    .contact-text{
      margin-left: 0;
    }
    .sendText {
      font: 500 13px "Lato", sans-serif;
  }
    
  }
  
  @media screen and (max-width: 410px) {
    .dataContactContainer {
      margin-top: 30px;
      max-width: 100px;
    }    
.contact-text{
      font-size: 10px;
      letter-spacing: 2px;
    }

    .contactWrapper .formContact, input, textarea {
      width: 60px;
      margin: 2%;
    }


    .formButton {
      width: 99%;
    }
  }