
@import '../setting';


/*Home*/


* {
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
    margin: 0;
  }

#light .title{
    color:black; //Cambiar
}
#dark .title{
    color: $white;
    }

h3{
    font-family: $fontGeneric;
    font-weight: 500;
    line-height: 50px;
    font-size: 1.5rem;
    letter-spacing: 6px;
}


h2{
    font-weight: 500;
    letter-spacing: 6px;
    font-family: $titleFont; //cambiar
    line-height: 60px;
    font-size: 2rem;
    text-align: left;
}


.homeDiv{
    display: flex;
    padding: 40px ;
    height: 100%;
    .divText{
        flex: 2;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;

    }
    .divImg{
        flex: 1;
        padding: 0 10px;
        img{
            width: 100%; /* La imagen ocupará el 100% del ancho de su contenedor */
            height: auto; 
        }
    }
 }
#light .homeDiv{
    background-color: $switch;
}



.nameDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navFooter{
    width: 100%;
    
}

/*NavBar*/
.navBarUl{
    padding: 10px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    a {
        font-size: 1rem;
        text-decoration: none;
        color: $textViolet;
        font-weight: bold;
        letter-spacing: 3px;
        vertical-align: top;
        position: relative;
        cursor: pointer;
        font-family: $fontButton;
    }
li{
    position:relative;
    padding: 6px;
    margin: 0.5rem;
    list-style-type: none;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color:black; //Cambiar
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }
    &:hover::before{
        transform-origin: left;
        transform: scaleX(1);
    }

}
}

#dark .navBarUl a{
    color:$white; 
}

#light .navBarUl li{
    position:relative;
    padding: 5px;
    list-style-type: none;
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            border-radius: 4px;
            background-color:black; //Cambiar
            bottom: 0;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
        }
        &:hover::before{
            transform-origin: left;
            transform: scaleX(1);
        }
    
}

  
.navButton{
    border: none;
    padding: 10px;
    display: none;
    font-size: 2rem;
    background-color: white;
}

#dark .navButton{
    background-color: transparent;
    color: white; //Cambiar
}

.divMobile{
    display: none;
}

@media screen and (min-width:850px) {
    .mobileNavbar{
        display: none;
    }
    .divMobile {
        display: none;
      }
}

@media(max-width:1230px){
    .navBarUl a {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 849px) {
    .navBarUl {
        display: none;
      }

    h2,h3,h4{
        line-height: 35px;
       
    }
    h3, h4{
        line-height: 40px;
        font-size: 1.5rem;
        letter-spacing: 6px;
        text-align: center;
    }
    
    h2{
        font-weight: 700;
        font-size: 1.7rem;
        letter-spacing: 6px;
        text-align: center;
        line-height: 50px;
    }
    .navFooter{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
   
    .navBarUl{
        display: none;
    }
 
    .navButton{
        display: inline-block;
    }
    .divMobile {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        z-index: 9999;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        background-color: rgba($color: #79155B, $alpha: 0.9);
      }
      .divMobile.show {
        transform: translateX(0%);
        height: 50%;
      }
      .mobileNavbar{
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
        align-items: flex-start;
    }

    .navLink a{
        text-decoration: none;
        color:$violet;
        margin: 5px;
        padding: 10px;
        letter-spacing: 2px;
        line-height: 53px;
        font-size: 0.7rem;
        font-weight: bold;
        font-family: $fontButton;
    }
    #dark .navLink a{
        color: $red;
    }
    .div-icon-mobile{
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: center;
    }

    .icon-nav{
        color: #00ffe0;
        font-size: 1rem;
    }
    .homeDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        .divText{
            flex: 1;
            align-items: center;
            padding:0;
            word-spacing: 0;
            h2{
                font-size: 2rem;
                font-weight: 600;
            }
            h3{
                font-size: 1.3rem;
                text-align: justify;
                word-spacing: 0;
                text-justify: inter-word;
            }
            button{
                margin-top: 20px;
            }
        }
        .divImg{
            flex: 1;
            padding: 0;
            img{
                width: 100%;
                height: auto; 
            }
        }
     }
}


