
.projectDiv{
    display: flex;
    justify-content: center;
    
.contentProject {
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    display: flex;
}
.unLimited {
    height: 300px;
    border-radius: 8px; }


 .cardBox {
    width: 350px;
    height: 450px;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
  }

 .card {
    position: absolute;
    width: 97%;
    height: 97%;
    background-color: #000000;
    border-radius: 20px;
    z-index: 5;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    padding: 20px;
    cursor: pointer;
  }


  .card .content p {
    font-size: 1.6rem;
    line-height: 25px;
    letter-spacing: 6px;
    font-weight: 500;
    font-family: $fontGeneric;
  }
  .card .content {
    transform: translateY(100%);
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  

  .card:hover .content {
    transform: translateY(0);
    opacity: 1;
  }

  .cardBox::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 150%;
    background: $redClaro;
    animation: glowing01 5s linear infinite;
    transform-origin: center;
    animation: glowing 5s linear infinite;
  }
  
  @keyframes glowing {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
  
 .iframeDiv {
  height: 40px;
 }

  
  
  