
.div-services{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    & h1 {
        font-family: $titleFont;
        letter-spacing: 6px;
        font-weight: 500;
        font-size: 2rem;
        line-height: 50px;
    }
    & h3, h4 {
        font-size: 1.5rem;
        font-weight: 500;
        font-family: $fontGeneric;
        line-height: 50px;
    }
}

#light h1{
    color: $violet;
}
#light h1{
    color: $violet;
}
#dark h1{
    color: $white;
}
#light h3{
    color: $violet;
}
#dark h3{
    color: $white;
}
#light h4{
    color: $violet;
}
#dark h4{
    color: $white;
}

.div-services-component{
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
}

.div-info-services{
    padding: 20px;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.div-title-services{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    & h4{
        font-size: 1.5rem;
        line-height: 30px;
        font-family: $fontGeneric;
        letter-spacing: 6px;
    }
    & h3{
        line-height: 25px;
        font-family:  $fontText;
        text-align: center;  
        background-color: $backgroundDarkViolet;  
        border-radius: 50px;
        padding: 15px;
        margin-bottom: 20px;
        font-size: 2rem;
        border: 0;
        
    }
    & .linea{
        border: 0;
        border-top: 3px dotted rgb(253, 98, 240); //Cambiar
        width: 70%;
        margin: 20px 0;
    }
}
#light .div-title-services h3{
    background-color: $switch;  
}
.container-lista{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 5px;
    align-items: center;
    justify-content: space-between;
}
.div-lista{
    text-align: left;
    padding: 5px;
}

.div-precios{
    padding: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:$fontGeneric;
    p{
        font-size: 1rem;
        letter-spacing: 4px;
    }
}

@media(max-width:1230px){

    .div-services-component {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .div-info-services{
        width:450px;
        height: 700px;
    }
}
@media(max-width:800px){
    .div-services-component{
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .div-info-services{
        width:300px;
        height: 600px;
        margin: 3%;
    }
    
.div-title-services{
    & h4{
        font-size: 0.5rem;
        line-height: 25px;
    }
    & h3{
        font-size: 0.7rem;
        line-height: 30px;
    }
    
    }
    .div-precios{
        margin-top: 5px;
        padding: 2px
        p{
            font-size: 0.7rem;
            letter-spacing: 4px;
        }
    }
}