
.div-services{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    & h1 {
        font-family: $titleFont;
        letter-spacing: 6px;
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 50px;
    }
    & h3, h4 {
        font-size: 1.5rem;
        font-weight: 500;
        font-family: $fontGeneric;
        line-height: 50px;
    }
}

#light h1{
    color: $violet;
}
#light h1{
    color: $violet;
}
#dark h1{
    color: $white;
}
#light h3{
    color: $backgroundDark;
}
#dark h3{
    color: $white;
}

#dark h4{
    color: $white;
}

.div-services-component{
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
}

.div-info-services{
    padding: 20px;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.div-title-services{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    & h4{
        font-size: 1.5rem;
        line-height: 50px;
        font-family: $fontGeneric;
        letter-spacing: 6px;
    }
    & h3{
        line-height: 25px;
        font-family:  $fontText;
        text-align: center;  
        background-color: $backgroundDarkViolet;  
        border-radius: 50px;
        padding: 15px;
        margin-bottom: 20px;
        font-size: 2rem;
        border: 0;
        
    }
}
#light .div-title-services h3{
    background-color: $switch; 
    color: $white; 
}

.container-lista{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 5px;
    align-items: center;
    justify-content: space-between;
}
.div-lista{
    text-align: left;
    padding: 5px;
}


@media(max-width:850px){

    .div-services{
        padding: 20px;
    }
    .div-title-services{
        padding: 0;
        margin-bottom: 20px;
        & h4{
            font-size: 1.2rem;
            line-height: 25px;
            font-family: $fontGeneric;
            letter-spacing: 6px;
            text-align: center;
        }
        & h3{
            line-height: 30px;
            padding: 10px;
            font-size: 1.5rem;
        }
    }
    
    .section-copas{
        img{
            width: 100%;
        };
    }
}