
.div-services{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    & h1 {
        font-family: $titleFont;
        color: $red;
        letter-spacing: 6px;
        font-weight: 800;
        font-size: 2rem;
        padding: 40px 0;
    }
    & h3 {
        font-size: 0.9rem;
        font-family: $fontGeneric;
        color: $violet;
        padding: 15px;
    }
}

.div-services-component{
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
}

.div-info-services{
    margin: 4%;
    width:450px;
    height: 700px;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    &.c00{
        border: 1px solid $darkGreen;     
    }
    &.c01{
        border: 1px solid $violet;     
    }
    &.c02{
        border: 1px solid $dorado;     
    }
    &.c03{
        border: 1px solid $red;     
    }
}

.div-title-services{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    &.c00{
         h3, h4{
            color: $greenTitulo;
        }
    }
    &.c01{
        h3, h4{
           color: $violetaTitulo;
       }
     
   }
    &.c02{
        h3, h4{
        color: $dorado;
    }
    }
    &.c03{
        h3, h4{
        color: $redTitulo;
    }
    }
    & h4{
        font-size: 0.7rem;
        line-height: 30px;
        font-family: $fontGeneric;
        letter-spacing: 6px;
    }
    & h3{
        font-size: 1rem;
        line-height: 25px;
        font-family:  $fontCuadrada;
        text-align: center;
        width: 80%;
    
    }
    & .linea{
        border: 0;
        border-top: 3px dotted $redFuscia; 
        width: 70%;
    }
}
#light .div-title-services{
&.c00{
    h3, h4{
        color: $darkGreenDark;
    }
}  
&.c01{
    h3, h4{
       color: $darkViolet;
   }
 
}
&.c02{
    h3, h4{
    color: $dorado;
}
}
&.c03{
    h3, h4{
    color: $red;
}
}

   
}
.container-lista{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 5px;
    align-items: center;
    justify-content: space-between;
}
.div-lista{
    width: 80%;
    text-align: left;
    padding: 5px;
    &.c00{
        li{
            color: $darkGreen;
        }
    }
    &.c01{
        li{
            color: $violetaFuscia;
        }
    }
    &.c02{
        li{
            color: $doradoClaro;
        }
    }
    &.c03{
        li{
            color: $redClaro;
        }
    }
    ul, li{
        font-family: $fontGeneric;
        letter-spacing: 3px;
        font-size: 1rem;
        line-height: 25px;
    }
}
#light .div-lista{
    &.c00{
        li{
            color: $darkGreenDark;
        }
    }
    &.c01{
        li{
            color: $violet;
        }
    }
    &.c02{
        li{
            color: $doradoOscuro;
        }
    }
    &.c03{
        li{
            color: $redFuscia;
        }
    }
}
.div-precios{
    padding: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:$fontGeneric;
    p{
        font-size: 1rem;
        letter-spacing: 4px;
    }
    &.c00{
        h4{
            color: $green;
        }
        p{
            color: $darkGreenDark;
        }
    }
    &.c01{
        h4{
            color: $violetaFuscia;
        }
        p{
            color: $violetaMedio;
        }
    }
    &.c02{
        h4{
            color: $doradoClaro;
        }
        p{
            color: $dorado;
        }
    }
    &.c03{
        h4{
            color: $redClaro;
        }
        p{
            color: $red;
        }
    }
}
#light .div-precios{
    &.c00{
        h4{
            color: $darkGreen;
        }
        p{
            color: $darkGreenDark;
        }
    }
    &.c01{
        h4{
            color: $violet;
        }
        p{
            color: $darkViolet;
        }
    }
    &.c02{
        h4{
            color: $dorado;
        }
        p{
            color: $doradoOscuro;
        }
    }
    &.c03{
        h4{
            color: $redFuscia;
        }
        p{
            color: $red;
        }
    }
}
@media(max-width:1230px){

    .div-services-component {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .div-info-services{
        width:450px;
        height: 700px;
        margin: 3%;
    }
}
@media(max-width:800px){
    .div-services-component{
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .div-info-services{
        width:300px;
        height: 600px;
        margin: 3%;
    }
    
.div-title-services{
    & h4{
        font-size: 0.5rem;
        line-height: 25px;
    }
    & h3{
        font-size: 0.7rem;
        line-height: 30px;
    }
    }
    .div-lista{
        width: 90%;
        ul, li{
            font-size: 0.6rem;
            line-height: 20px;
        }
    }
    .div-precios{
        margin-top: 5px;
        padding: 2px
        p{
            font-size: 0.7rem;
            letter-spacing: 4px;
        }
    }
}