.skillsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    & h1 {
        font-family: $titleFont;
        font-weight: 500;
        font-size: 2rem;
        text-align: center;
    }
}

.skills{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;

}

.skill-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillTitle{
    color: $white;
    font-family: $fontText;
    font-size: 14px;
    letter-spacing: 6px;
    font-weight: bold;
    line-height: 3;
    text-align: center;
}


.carousel {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    .slide {
        width:60px;
        height: 100%;
        padding: 0 10px; 
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        img {
            width: 60px;
            height: 60px;
            object-fit: contain; 
        }
    }
}

.carousel .carousel-slider {
    max-width: 90%; 
    margin: 0 auto;

}
#light .skillTitle{
    color:black; //Cambiar
}

#dark .skillsDiv h1{
    color: $white;
}
#light .skillsDiv h1{
    color:$violet;
}

@media(max-width:700px){
    .skillsDiv h1 {
        font-size: 1.5rem;
    }
}