.skillsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    & h1 {
        font-family: $titleFont;
        font-weight: 800;
        font-size: 2rem;
        text-align: center;
    
    }
}

.skills{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;

}

.skill-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillTitle{
    color: $violet;
    font-family: $fontText;
    font-size: 14px;
    letter-spacing: 6px;
    font-weight: bold;
    line-height: 3;
    text-align: center;
}

.slide{
width:60px;
    img {
        max-width: 80px; 
        max-height: 80px; 
        width: auto; 
        height: auto;
        object-fit: contain; 
    }
}

.carousel .slide {
    padding: 0 10px; 
}
.carousel .carousel-slider {
    max-width: 90%; 
    margin: 0 auto;
}
#light .skillTitle{
    color:black; //Cambiar
}

#dark .skillsDiv h1{
    color: $red;

}
#light .skillsDiv h1{
    text-align: center;
    color:$violet;
}

@media(max-width:700px){
    .skillsDiv h1 {
        font-size: 1.5rem;
    }
}