
.work-section{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
#dark .work-h4{
    color: $white;
}

#light .work-h4{
   color: black; //Cambiar
}

#dark .work-p{
    color: $white;
}

#light .work-p{
   color: black; //Cambiar
}
.div-work-text{
    h4{
        font-family: $titleFont;
        font-weight: 500;
        line-height: 60px;
        font-size: 2rem;
        letter-spacing: 6px;
    }
    p{
        font-family: $fontGeneric;
        font-weight: 500;
        line-height: 50px;
        font-size: 1.5rem;
        letter-spacing: 6px;
    }
}