
.work-section{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    padding: 40px;
}
#dark .work-h4{
    color: $white;
}

#light .work-h4{
   color: black; //Cambiar
}

#dark .work-p{
    color: $white;
}

#light .work-p{
   color: black; //Cambiar
}
.div-work-text{
    h4{
        font-family: $titleFont;
        font-weight: 600;
        line-height: 60px;
        font-size: 2.5rem;
        letter-spacing: 6px;
        text-align: center;
    }
    p{
        font-family: $fontGeneric;
        font-weight: 500;
        line-height: 50px;
        font-size: 1.5rem;
        letter-spacing: 6px;

    }
    div{
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 849px) {
    .work-section{
        padding: 20px;
        flex-direction: column;
  
        .div-work-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
            h4{
                font-size: 2rem;
            }
           p{
            font-size: 1.2rem;
            text-align: center;
           } 
        }
      img{
        width: 300px;
      }
    }
}